.course-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  scrollbar-width: none;
}
.main-content::-webkit-scrollbar {
  display: none;
}

.college-column {
  /* width: 48%; */
  /* padding: 10px; */
  align-items: center;
}

.college-column h2 {
  margin-bottom: 10px;
}

.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
}

.course-card h3 {
  margin-bottom: 10px;
}

.course-card p {
  margin-bottom: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
}

.course-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.college-column {
  width: 45%;
}
.floating-button {
  position: fixed;
  bottom: 20px;
  margin: auto;
}

@media (max-width: 768px) {
  .college-column {
    width: 100%;
  }
}

.course_type {
  display: block;
  background-color: rgb(199, 200, 200);
  margin: 20px 0;
  width: 100vw;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.blocks {
  width: 100%; /* Ensure blocks take full width */
  margin-left: 0; /* Remove left margin to center the blocks */
}

.blockTitle {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(85, 85, 253);
}
.course-group {
  padding: 0 150px;
}
