.course-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  overflow-y: auto;
  scrollbar-width: none;
}
.main-content::-webkit-scrollbar {
  display: none;
}

.college-column {
  width: 48%;
}

.college-column h2 {
  margin-bottom: 10px;
}

.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
}

.course-card h3 {
  margin-bottom: 10px;
}

.course-card p {
  margin-bottom: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
}

.course-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  margin: auto;
}

@media (max-width: 768px) {
  .college-column {
    width: 100%;
  }
}
