.yearsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 20px;
  margin: 0 100px;
}

.yearColumn {
  flex: 1;
}

.termSection {
  margin-bottom: 20px;
}

.cardContainer {
  margin-bottom: 10px;
}

.termSection h3 {
  padding: 20px 0;
}

@media print {
  .yearColumn {
    visibility: hidden;
  }

  .printTable {
    display: block !important;
    visibility: visible !important;
  }

  .printTable table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
  }
  .printTable td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .printTable table,
  .printTable tr,
  .printTable td,
  .printTable th {
    page-break-inside: avoid;
    width: auto;
  }

  .courseDetails {
    padding: 10px 5px;
    margin: 5px 0;
  }
  header {
    display: none;
  }
}
